<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'shopping/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'shopping/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'shopping/css/detail.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/common.css' %}">
    <script src="{% static 'shopping/js/jquery.min.js' %}"></script>
    <script src="{% static 'shopping/js/base.js' %}"></script>
    <script src="{% static 'shopping/js/detail.js' %}"></script>
	<title>
      {% block title %}
      {% endblock %}
    </title>
</head>
<body>
    <header>
        <!-- <a href="#">
            <img src="images/header.jpg" height="80"  width="100%" alt="" >
        </a> -->
    </header>
    <div class="shortcut">
        <div class="w">
            <ul class="fl city">
                <li><i class="f10"></i><a href="#">北京</a></li>
            </ul>
            <ul class="fr nav">
                <li>
                    <a href="login.html">你好，请登录</a>
                    <a href="register.html" class="f10">免费注册</a>
                </li>
                <li class="space"></li>
                <li>
                    <a href="pay.html">我的订单</a>
                </li>
                <li class="space"></li>
                <li>
                    <a href="#">我的联想</a>
                    <i></i>
                    <div class="dropdown-layer">
                        <dl class="d">
                            <dd><a href="#">待处理订单</a></dd>
                            <dd><a href="#">返修退换货</a></dd>
                            <dd><a href="#">降价商品</a></dd>
                        </dl>
                        <dl class="d">
                            <dd><a href="#">消息</a></dd>
                            <dd><a href="#">我的问答</a></dd>
                            <dd><a href="#">我的关注</a></dd>
                        </dl>
                        <dl>
                            <!-- <dd><a href="#">我的联想</a></dd> -->
                            <!-- <dd><a href="#">我的白条</a></dd> -->
                        </dl>
                        <dl>
                            <dd><a href="#">我的优惠券</a></dd>
                            <dd><a href="#">我的理财</a></dd>
                        </dl>
                    </div>
                </li>
                <li class="space"></li>
                <li>
                    <a href="#">联想会员</a>
                </li>
                <li class="space"></li>
                <li>
                    <a href="#">企业采购</a>
                </li>
                <li class="space"></li>
                <li>
                    <a href="#">客户服务</a>
                    <i></i>
                    <div class="dropdown-layer">
                        <dl class="d">
                            <dd><a href="#">待处理订单</a></dd>
                            <dd><a href="#">返修退换货</a></dd>
                            <dd><a href="#">降价商品</a></dd>
                        </dl>
                        <dl class="d">
                            <dd><a href="#">消息</a></dd>
                            <dd><a href="#">我的问答</a></dd>
                            <dd><a href="#">我的关注</a></dd>
                        </dl>
                        <dl>
                            <!-- <dd><a href="#">我的京豆</a></dd> -->
                            <!-- <dd><a href="#">我的白条</a></dd> -->
                        </dl>
                        <dl>
                            <dd><a href="#">我的优惠券</a></dd>
                            <dd><a href="#">我的理财</a></dd>
                        </dl>
                    </div>
                </li>
                <li class="space"></li>
                <li>
                    <a href="#">网站导航</a>
                    <i></i>
                    <div class="dropdown-layer">
                        <dl class="d">
                            <dd><a href="#">待处理订单</a></dd>
                            <dd><a href="#">返修退换货</a></dd>
                            <dd><a href="#">降价商品</a></dd>
                        </dl>
                        <dl class="d">
                            <dd><a href="#">消息</a></dd>
                            <dd><a href="#">我的问答</a></dd>
                            <dd><a href="#">我的关注</a></dd>
                        </dl>
                        <dl>
                            <!-- <dd><a href="#">我的京豆</a></dd>
                            <dd><a href="#">我的白条</a></dd> -->
                        </dl>
                        <dl>
                            <dd><a href="#">我的优惠券</a></dd>
                            <dd><a href="#">我的理财</a></dd>
                        </dl>
                    </div>
                </li>
                <li class="space"></li>

            </ul>
        </div>
    </div>
    <div class="m">
        <div class="w middle">
            <div class="logo">
            <h1>  <!-- 提高权重 便利于搜索引擎优化 -->
                <!-- <a href="index.html" title="">联想</a>    -->
            </h1>
            </div>
            <div class="form">
                <input id="text" type="text" placeholder="扫描仪">
                <button><i></i></button>
            </div>
            <div class="shopCar">
                <i></i><a href="cart.html" class="f10">我的购物车</a><span>8</span>
            </div>
            <div class="hotwords">
                <a href="#" class="f10">199减100</a>
                <a href="#">鼠标试用</a>
                <a href="#">智能手表</a>
            </div>
            <div class="navitems">
            <ul>
                <li><a href="list.html">新品</a></li>
                <li><a href="#">定制</a></li>
                <li><a href="#">合伙人</a></li>
                <li><a href="#">以旧换新</a></li>
                <li class="space "></li>
                <li><a href="#">0元使用</a></li>
                <li><a href="#">乐豆购</a></li>
                 <li><a href="#">学生</a></li>
                <li><a href="#">企业购</a></li>
                <li class="space"></li>
                <li><a href="#">0元购</a></li>
            </ul>
            </div>

        </div>
    </div>

    {% block body %}

    {% endblock %}

    <div class="bottom" data-animate="move">
				<div class="c5bwrapper">
					<ul class="bnav clearfix">
						<li class="clearfix">
							<a class="bnavo" href="https://news.lenovo.com.cn/news/list.html">关于理想</a>
							<a href="https://shop.lenovo.com.cn/investor/html/investor.html">投资者关系</a>
							<a href="http://www.lenovocareers.com/chi/index.html">工作机会</a>
							<a href="https://shop.lenovo.com.cn/help/contact-us.html">联系我们</a>
							<a href="https://mall.lenovo.com.cn/">销售网点查询</a>
							<a href="http://support.lenovo.com.cn/lenovo/wsi/station/servicestation/default.aspx">服务网点查询</a>
						</li>
						<li class="clearfix">
							<a class="bnavo" href="https://shop.lenovo.com.cn/">联想商城</a>
							<a href="https://shop.lenovo.com.cn/stryout/tryhtml/index.html">0元试用</a>
							<a href="https://shop.lenovo.com.cn/activity/marketing/jsd/index.html">极速到家</a>
							<a href="https://shop.lenovo.com.cn/c2c/new/c2c_center.html">联想合伙人</a>
							<a href="https://shop.lenovo.com.cn/lenovomaker/index">私人订制</a>
							<a href="https://shop.lenovo.com.cn/oldfornew/oldchangenew.html">以旧换新</a>
							<a href="https://raise.lenovo.com.cn/">联想众筹</a>
						</li>
						<li class="clearfix">
							<a class="bnavo" href="http://support.lenovo.com.cn/lenovo/wsi/index.html">联想服务</a>
							<a href="http://support.lenovo.com.cn/lenovo/wsi/Modules/NewDrive.aspx">驱动与软件下载</a>
							<a href="http://iknow.lenovo.com/">联想知识库</a>
							<a href="http://robot.lenovo.com.cn/lenovo/?channel=H325B">24小时智能客服</a>
							<a href="http://support.lenovo.com.cn/lenovo/wsi/Modules/Newbxpz.aspx">保修配置查询</a>
							<a href="http://support.lenovo.com.cn/lenovo/wsi/htmls/policylist_1349943520435.aspx">服务政策查询</a>
							<a href="http://www.xiangbangbang.cn/pc?utm_source=lenovoPC&utm_content=index">上门快修</a>
							<a href="https://shop.lenovo.com.cn/home/serviceindex.html?tag=a111&intcmp=SS_F_YCBX&SourceFlag=Support_MA&CheckCode=Test123">延长保修</a>
							<a href="http://www.ms.lenovo.com/">联想IT管理服务</a>
						</li>
						<li class="clearfix">
							<a class="bnavo" href="https://news.lenovo.com.cn/news/list.html">关于理想</a>
							<a href="http://capital.lenovo.com/default.html">联想创投</a>
							<a href="https://www.lenovovip.com.cn/">聚享汇</a>
							<a href="https://guanjia.lenovo.com.cn/">联想电脑管家</a>
							<a href="http://www.lenovocloud.com/">联想超融合</a>
							<a href="http://research.lenovo.com/">联想研究院</a>
							<a href="http://www.lenovohit.com/">智慧医疗</a>
							<a href="https://www.baiying.cn/">联想百应平台</a>
							<a href="http://rental.lenovo.com.cn/">联想租赁商城</a>
							<a href="https://box.lenovo.com/?C=LXGW">联想企业网盘</a>
							<a href="https://www.thinkpad.com/index.html">ThinkPad官网</a>
							<a href="https://www.lecoo.com/">lecoo商城</a>
						</li>
						<li class="clearfix">
							<h6 class="bnavo bh6">联想官方教育平台</h6>
							<ul class=""></ul>
						</li>
					</ul>
				</div>
				<div class="footbt">
					<div class="btwrapper">
						<div class="fbtleft clearfix">
							<p>版权所有：1998-2018 联想集团</p>
							<span>|</span>
							<a href="#">法律公告</a>
							<span>|</span>
							<a href="#">隐私保护</a>
							<span>|</span>
							<a href="#">产品安全</a>
						</div>
						<div class="fbtright clearfix">
							<p>京ICP备11035381</p>
							<span>|</span>
							<p>京公网安备110108007970号</p>
							<span>|</span>
							<p>营业执照：11000041012732</p>
						</div>
					</div>
				</div>
			</div>
			<div id="jibrower">
				<div class="c5bwrapper">
					<h1 class="jbh1">温馨提示：您当前的浏览器版本过低，存在安全风险，不能实现完美体验,建议升级浏览器</h1>
					<p class="tc"><a href="#"><img class="jibimg" src="{% static 'index/images/center52.jpg' %}"/></a></p>
				</div>
			</div>
</body>
<script type="text/javascript" charset="htf-8" src="{% static 'index/js/jquery-1.11.1.min.js' %}"></script>
	<script type="text/javascript" charset="htf-8" src="{% static 'index/js/common.js' %}"></script>
	<script type="text/javascript" charset="utf-8">
		var bssilder = document.getElementsByClassName("bserversilder")[0];
		var bssli = bssilder.children;
		for(var i=0; i<bssli.length;i++){
			bssli[i].onmouseover = function(){
				for(var i=0;i<bssli.length;i++)
				{
					bssli[i].style.width=""+100+"px";
				}
				this.style.width=""+700+"px";
				this.style.opacity="1";//注意：this是事件的目标元素
			}
			bssli[i].onmouseout = function(){
				for(var i=0;i<bssli.length;i++)
				{
					bssli[i].style.width=""+250+"px";
					bssli[i].style.opacity=".6";
				}
			}
		}
	</script>
	<script type="text/javascript" src="{% static 'index/js/loading.js' %}" charset="utf-8"></script>
	<script type="text/javascript" src="{% static 'index/js/viewportanimate.js' %}" charset="utf-8"></script>
	<script type="text/javascript" src="{% static 'index/js/judgeiebrower.js' %}"></script> -->
</html>