{% extends 'shopping/base.html' %}
{% load static %}

{% block title %}
{{product.header}}
{% endblock %}

{% block body %}
    <div class="de_container">
        <div class="w">
            <div class="crumb_wrap">
                <a href="#">首页</a> >
                <a href="#">YOGA Pro14s (Yoga Slim 7）Carbon锐龙版14英寸轻薄笔记本电脑</a> >
                <!-- <a href="#">iphone 6S系类</a>  -->
            </div>
            <div class="product_intro">
                <div class="preview_wrap fl">
                    <div class="preview_img">
                        <img src="{{ goods.g_img }}" width="100%" alt="">
                        <div class="mask"></div>
                        <div class="big">
                            <img src="{{ goods.g_img }}" width="800px" alt="" class="bigimg">
                        </div>
                    </div>
                    <div class="preview_list">
                        <a href="javascript:;" class="arrow_prev"><</a>
                        <a href="javascript:;" class="arrow_next">></a>
                        <ul class="list_item">
                            <li class="current"><img src="{{ goods.g_img }}" alt="" width="56px"></li>
                            <li><img src="{{ goods.g_img }}" alt="" width="56px"></li>
                            <li><img src="{{ goods.g_img }}" alt="" width="56px"></li>
                            <li><img src="{{ goods.g_img }}" alt="" width="56px"></li>
                            <li><img src="{{ goods.g_img }}" alt="" width="56px"></li>
                        </ul>
                    </div>
                </div>
                <div class="itemInfo_wrap fr">
                    <div class="sku_name">
                        {{ goods.g_name }}
                    </div>
                    <div class="news">
                        {{ goods.g_description }}
                    </div>
                    <div class="summary">
                        <dl class="summary_price">
                            <dt>商城价</dt>
                            <dd>
                                <i class="price">{{ goods.g_price }}</i>
                            </dd>
                        </dl>
                        <dl class="summary_promotion">
                            <dt>促销</dt>
                            <dd>
                                <em>加购价</em> 满999.00另加20.00元，或满1999.00另加30.00元，或满2999.00另加40.00元，即可在购物车换购热销商品 详情》
                            </dd>
                        </dl>
                        <dl class="summary_support">
                            <dt>增值业务</dt>
                            <dd>以旧换新，高价回收  急速到账换新机</dd>
                        </dl>
                        <dl class="summary_stock">
                            <dt>配送至</dt>
                            <dd>
                                北京海淀区中关有货 支持 99元免运费 |货到付款 |211限时达
                                <br>由自营发货，并提供售后服务。11:00前完成下单，预计今天（11月19日）送达
                            </dd>
                        </dl>
                        <dl class="choose_color">
                            <dt>配置</dt>
                            <dd>
                                <a href="javasript:;" class="current">【R7/14.0英寸/16G/512G ..</a>
                                <a href="javasript:;">【i7/14.0英寸/16G/1TB ...</a>
                                <a href="javasript:;">【R7 5800U/14.0英寸/...</a>
                                <a href="javasript:;">【i7/14.0英寸/16G/1TB...</a>
                                <!-- <a href="javasript:;">珠光贝母</a>
                                <a href="javasript:;">嫣紫色</a>
                                <a href="javasript:;">墨玉蓝</a> -->
                            </dd>
                        </dl>
                        <dl class="choose_version">
                            <dt>操作系统</dt>
                            <dd>
                                <a href="javascript:;" class="current">Windows11</a>
                                <a href="javascript:;">Linux</a>
                            </dd>
                        </dl>
                        <dl class="choose_version">
                            <dt>选择服务</dt>
                            <dd>
                                <a href="javascript:;" class="current">3年整机保修  ￥259</a>
                                <a href="javascript:;">1年意外保险  ￥299</a>
                                <a href="javascript:;">2年上门保修   ￥199</a>
                                <a href="javascript:;">新机开荒（远程）  ￥88</a>
                            </dd>
                        </dl>
                        <dl class="choose_type">
                            <dt>购买方式</dt>
                            <dd>
                                <a href="javascript:;" class="current">花呗分期</a>
                                <a href="javascript:;">白条分期</a>
                                <a href="javascript:;">银联分期</a>
                            </dd>
                        </dl>
                        <!-- <dl class="choose_type">
                            <dt></dt>
                            <dd>
                                <a href="javascript:;" class="current">保护套餐</a>
                                <a href="javascript:;">充电套餐</a>
                            </dd>
                        </dl> -->
                        <div class="choose_btns">
                            <div class="choose_amount">
                                <input type="text" value="1">
                                <a href="javascript:;" class="add">+</a>
                                <a href="javascript:;" class="reduce">-</a>
                            </div>
                            <a href="cart.html" class="addCar">加入购物车</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% load comments %}
{% get_comment_list for goods as comments %}
                <footer>
                    <ul class="stats">
                        <li><a href="/sort-{{ goods.category.id }}.html">{{ goods.category.name }}</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">{{ comments|length}}</a></li>
                        <li><a href="#" onclick="return false;" class="icon fa-eye">{{ goods.views }}</a></li>
                    </ul>
                </footer>
                <h3>评论列表</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for comment in comments %}
                            <div class="blog_comment" name="F{{comment.id}}">
                                <p class="comment_title">
                                    {{ comment.submit_date|date:"Y-m-d H:i"}} @ {{ comment.user_name }} ：
                                </p>
                                <p class="comment_content">{{ comment.comment }}</p>
                            </div>
                        {% empty %}
                            <span>暂无评论</span>
                        {% endfor %}
                    </div>
                </div>

                <h3>新的评论</h3>
                {% get_comment_form for show as blog_form %}

                <form id="comment_form"
                    class="form-horizontal"
                    action="{% comment_form_target %}"
                    method="post"
                >
                    {% csrf_token %}

                    {# 必须的字段 #}
                    {{ blog_form.object_pk }}
                    {{ blog_form.content_type }}
                    {{ blog_form.timestamp }}
                    {{ blog_form.site }}
                    {{ blog_form.submit_date }}
                    {{ blog_form.security_hash }}
                    {# 用户名字段，这个后面会修改为登录用户评论，无需填这个 #}
                    <div class="control-group">
                        <label class="control-label" for="id_name">名称： </label>
                        <div class="controls">
                            <input type="text"
                                id="id_name" class="input-xlarge" name="name"
                                placeholder="您的姓名"
                                value="{{ user.username }}" />
                        </div>
                    </div>
                    {# 邮箱地址字段 #}
                    <div class="control-group">
                        <label class="control-label" for="id_email">邮箱： </label>
                        <div class="controls">
                            <input type="email"
                                id="id_email" class="input-xlarge" name="email"
                                placeholder="您的邮箱"
                                value="{{ user.email }}" />
                        </div>
                    </div>

                    {# 评论内容 #}
                    <a name="newcomment" id="newcomment"></a>
                    <div class="control-group">
                        <label class="control-label" for="id_comment">评论： </label>
                        <div class="controls">
                            <textarea rows="6"
                                    id="id_comment" class="input-xlarge comment" name="comment"
                                    placeholder="评论内容">
                            </textarea>
                        </div>
                    </div>
                    {# 防垃圾评论 #}
                    <p style="display:none;">
                        <label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label>
                        <input type="text" name="honeypot" id="id_honeypot">
                    </p>
                    {# 表单按钮 #}
                    <div class="controls">
                        <div class="form-actions">
                            <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>
                            <input type="hidden" name="next" value="/details-{{show.id}}.html"/>
                        </div>
                    </div>
                </form>
{% endblock %}