{% extends "shopping/listBase.html" %}

    {% block content %}
    {% for object in object_list %}
    <li class="sk_goods">
        {% if object.image %}
        <a href="#"><img src="{{ object.image.url }}" alt="{{ object.description }}"></a>
        {% endif %}
        <h5 class="sk_goods_title">{{ object.title }}</h5>
        <p class="sk_goods_price"><em>{{ object.price }}</em><del>￥{{ object.original_price }}</del></p>
        <div class="sk_goods_progress">
            已售<i>87%</i>
            <div class="bar">
                <div class="bar_in"></div>
            </div>
            剩余<em>{{ object.repertory }}</em>件
        </div>

        <a href="{{ object.get_absolute_url }}" class="sk_goods_buy">立即抢购</a>
    </li>
    {% endfor %}
    {% endblock %}

