<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/pay.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/base.js"></script>
    <script src="js/pay.js"></script>
</head>
<body>
    <div class="shortcut">
        <div class="w">
            <ul class="fl city">
                <li><i class="f10"></i><a href="#">北京</a></li>
            </ul>
            <ul class="fr nav">
            <li>
                <a href="login.html">你好，请登录</a>
                <a href="register.html" class="f10">免费注册</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="pay.html">我的订单</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="#">我的联想</a>
                <i></i>
                <div class="dropdown-layer">
                    <dl class="d">
                        <dd><a href="#">待处理订单</a></dd>
                        <dd><a href="#">返修退换货</a></dd>
                        <dd><a href="#">降价商品</a></dd>
                    </dl>
                    <dl class="d">
                        <dd><a href="#">消息</a></dd>
                        <dd><a href="#">我的问答</a></dd>
                        <dd><a href="#">我的关注</a></dd>
                    </dl>
                    <dl>
                    </dl>
                    <dl>
                        <dd><a href="#">我的优惠券</a></dd>
                        <dd><a href="#">我的理财</a></dd>
                    </dl>
                </div>
            </li>
            <li class="space"></li>
            <li>
                <a href="#">联想会员</a>
            </li>

            <li class="space"></li>
            <li>
                <a href="#">企业采购</a>
            </li>
            <li class="space"></li>
            <li>
                <a href="#">客户服务</a>
                <i></i>
                <div class="dropdown-layer">
                    <dl class="d">
                        <dd><a href="#">待处理订单</a></dd>
                        <dd><a href="#">返修退换货</a></dd>
                        <dd><a href="#">降价商品</a></dd>
                    </dl>
                    <dl class="d">
                        <dd><a href="#">消息</a></dd>
                        <dd><a href="#">我的问答</a></dd>
                        <dd><a href="#">我的关注</a></dd>
                    </dl>
                    <dl>
                    </dl>
                    <dl>
                        <dd><a href="#">我的优惠券</a></dd>
                        <dd><a href="#">我的理财</a></dd>
                    </dl>
                </div>
            </li>
            <li class="space"></li>
            <li>
                <a href="#">网站导航</a>
                <i></i>
                <div class="dropdown-layer">
                    <dl class="d">
                        <dd><a href="#">待处理订单</a></dd>
                        <dd><a href="#">返修退换货</a></dd>
                        <dd><a href="#">降价商品</a></dd>
                    </dl>
                    <dl class="d">
                        <dd><a href="#">消息</a></dd>
                        <dd><a href="#">我的问答</a></dd>
                        <dd><a href="#">我的关注</a></dd>
                    </dl>
                    <dl>

                    </dl>
                    <dl>
                        <dd><a href="#">我的优惠券</a></dd>
                        <dd><a href="#">我的理财</a></dd>
                    </dl>
                </div>
            </li>
            <li class="space"></li>
        </ul>
        </div>
    </div>
    <div class="m">
        <div class="w middle">
            <div class="logo">
                <h1>  <!-- 提高权重 便利于搜索引擎优化 -->
                    <a href="index.html" title="联想">联想</a>   
                </h1>
            </div>
            <div class="form">
                <input id="text" type="text" placeholder="">
                <button><i></i></button> 
            </div>
            <div class="shopCar">
                <i></i><a href="cart.html" class="f10">我的购物车</a><span>8</span>
            </div>
            <div class="hotwords">
                <a href="#" class="f10">199减100</a>
                <a href="#">鼠标试用</a>

                <a href="#">智能手表</a>
            </div>
            <div class="navitems">
                <ul>
                    <li><a href="list.html">秒杀</a></li>
                    <li><a href="#">优惠券</a></li>
                    <li><a href="#">闪购</a></li>
                    <li><a href="#">拍卖</a></li>
                </ul>
            </div>
            <div class="super">
                <a href="#"><img src="images/super.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="w">
            <p>填写并核对订单信息</p>
            <div class="content-top">
                <div class="message">
                    <p>收件人信息</p>
                    <div class="address">
                        <span>张谋谋 北京</span>
                        <p>张谋谋  北京市海淀区三环内 中关村软件园9号楼  159****3201</p>
                    </div>
                    <a href="#">更多地址</a>
                </div>
                <div class="message">
                    <p>选择物流方式</p>
                    <ul class="kuaidi">
                        <li class="current"><i></i><span>顺丰</span></li>
                        <li><i></i><span>中通</span></li>
                        <li><i></i><span>圆通</span></li>
                        <li><i></i><span>邮政</span></li>
                        <li><i></i><span>百世</span></li>
                    </ul>
                </div>
                <div class="message">
                    <p>选择支付方式</p>
                    <ul class="m-pay">
                        <li class="current">银联</li>
                        <li>微信</li>
                        <li>支付宝</li>
                        <li>京东白条</li>
                        <li>PayPal</li>
                    </ul>
                </div>
                <div class="message">
                    <p>送货清单</p>
                    <div class="me-bt">
                        <span>配送方式</span>
                        <div class="me-bb">
                            <span><i>顺丰</i>快递</span>
                            <p>配送时间：预计8月10日（周三）09:00-15:00送达</p>
                            <a href="#">修改</a>
                        </div>
                    </div>
                    <div class="me-bd">
                        <span>订单详情</span>
                        <div class="me-bs">
                            <span>
                                <img src="uploads/mobile.png" width="100%" alt="">
                            </span>
                            <p>
                                Apple iPhone 6s (A1700) 64G 玫瑰金色 移动联通电信4G手机 硅胶透明防摔软壳 本色系列
                                <i>7天无理由退货</i>
                            </p>
                            <div class="price">￥5399.00</div>
                            <div class="num">X1</div>
                            <a href="#">有货</a>
                        </div>
                    </div>
                </div>
                <div class="message clearfix me-line">
                    <p>发票信息</p>
                    <div class="address">
                        <span style="font-size: 12px;">普通发票（电子）     个人     明细     <a href="#">修改</a></span>
                    </div>
                    <dl>
                        <dt>1件商品，总商品金额：</dt><dd>¥5388.00</dd>
                        <dt>返现：</dt><dd>-¥0.00</dd>
                        <dt>运费：</dt><dd class="mess-red">¥5388.00</dd>
                    </dl>
                </div>
                <div class="me-money">
                    <p>应付总额 ： <span>¥5388.00</span></p>
                    <p>寄送至：北京市海淀区三环内 中关村软件园9号楼  收货人：某某某  159****3201</p>
                </div>
                <a href="index.html" class="me-commit">提交订单</a>
            </div>
        </div>
    </div>

</body>
</html>