<!DOCTYPE html>
<html>
{% load static %}
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="{% static 'profile/css/public.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'profile/css/mygxin.css' %}" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="url 'shopping:">		{# changed by lin#}
					</a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="{% url 'user:login' %}" id="login">登录</a>
							<a href="{% url 'user:register' %}" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="{% static 'profile/profile.html' %}"><img src="{% static 'profile/img/grzx.png' %}"/></a>
							<a href="{% static '' %}" class="er1"><img src="{% static 'profile/img/ewm.png' %}"/></a>
							<a href="{% url 'shopping:my_cart' %}"><img src="{% static 'profile/img/gwc.png' %}"/></a>
							<p><a href="{% static ''%}"><img src="{% static 'profile/img/smewm.png' %}"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt" id="add">
			<div class="wrapper clearfix">
				<a href="{% url 'store:index' %}" class="fl">首页</a>
				<span>/</span>
				<a href="{% static 'profile/mygxin.html' %}" class="on">个人中心</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img src="{% static 'profile/img/tx.png' %}"/></a>
						<p class="clearfix"><span class="fl">{{ user.username }}</span><a class="fr" href="{% url 'user:logout' %}">[退出登录]</a></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="{% url 'shopping:my_cart' %}">我的购物车</a></li>
							<li><a href="{% static 'profile/myorderq.html' %}">我的订单</a></li>
							<li><a href="#">评价晒单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li  class="on"><a href="{% static 'profile/mygxin.html' %}">我的中心</a></li>
							<li><a href="#">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a href="#">个人信息</a></li>
							<li><a href="#">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<div class="tx clearfix">
						<div class="fl clearfix">
							<a href="#" class="fl"><img src="{% static 'profile/img/tx.png' %}"/></a>
							<p class="fl"><span>六六六</span><a href="#">修改个人信息></a></p>
						</div>
						<div class="fr">绑定邮箱：{{ user.email }}</div>
					</div>
					<div class="bott">
						<div class="clearfix">
							<a href="#" class="fl"><img src="{% static 'profile/img/gxin1.jpg' %}"/></a>
							<p class="fl"><span>待支付的订单：<strong>0</strong></span>
								<a href="#">查看待支付订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img src="{% static 'profile/img/gxin2.jpg' %}"/></a>
							<p class="fl"><span>待收货的订单：<strong>0</strong></span>
								<a href="#">查看待收货订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img src="{% static 'profile/img/gxin3.jpg' %}"/></a>
							<p class="fl"><span>待评价的订单：<strong>0</strong></span>
								<a href="#">查看待评价订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img src="{% static 'profile/img/gxin4.jpg' %}"/></a>
							<p class="fl"><span>喜欢的商品：<strong>0</strong></span>
								<a href="#">查看喜欢的商品></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="{% static 'profile/img/gt1.png' %}"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			
			<a href="{% static 'profile/mygxin.html' %}">
			<dl>
				<dt><img src="{% static 'profile/img/gt3.png' %}"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="{% static 'profile/img/gt4.png' %}"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<div class="footer">
			<div class="top">
				<div class="wrapper">

				</div>
			</div>
			<p class="dibu">OUC&copy;软件工程2021秋<br /> </p>
		</div>
		<script src="{% static 'profile/js/jquery-1.12.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'profile/js/public.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'profile/js/user.js' %}" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
